extends layout
block content
  .container(style="float:center;")
    .row
     h1 Welcome! Add A Review
     .formHold
       h1.itemtitle Add a Review Form
       form(method="post")
        fieldset
         label(for="name") Your Name:
         input(name="name", type="text", placeholder="Who Are You") 
         label(for="content") Your Review:
         input(name="content", type="text", placeholder="Review") 
         button.button(type="submit") Create your Review