extends layout
block content
  .container
    .row
     h1 Welcome Lets Add A Product
     .formHold(style='float:center;')
       h1.itemtitle Add the Product Form
       form(method="post")
        fieldset
         label(for="name") Plant Name:
         input(name="name", type="text", placeholder="Please Name The Plant") 
         label(for="price") Plant Price:
         input(name="price", type="text", placeholder="Please set the price for Plant") 
         label(for="image") Product Image:
         input(name="image", type="text", placeholder="Please give an image for the Plant") 
         label(for="variety") Product variety:
         input(name="variety", type="text", placeholder="Please name the variety of the Plant") 
         button.button(type="submit") Create The Product
    