extends layout
block content
 .container
   h1 Welcome, here's where you edit this Product!
    .formHold
      h1.itemtitle Edit the Plant Form
       each row in res1
        form(method="post")
         fieldset
          label(for="newname") Product Name:
          input(name="newname", type="text", value="#{row.Name}") 
          label(for="newprice") Product Price:
          input(name="newprice", type="text", value="#{row.Price}") 
          label(for="newimage") Product Images:
          input(name="newimage", type="text", value="#{row.Image}") 
          label(for="newvariety") Plant Variety:
          input(name="newvariety", type="text", value="#{row.Variety}") 
          button.button(type="submit") Update The Plant

