extends layout
block content
    
    .container
        .holder
           h2(style='text-align:center') Check out our beautiful Gallery of photogenic Succulents!
           p Welcome to the Succulent Shack Homepage!
           p Here you can come to view different Plants, Cacti and of course, Succulents! {^_^}
           a.button(href="/plants") Plants
           a.button(href="/cacti") Cacti
           a.button(href="/succs") Succulents
           
           a.button(href="/under10") Plants under €10
           a.button(href="/over10") Plants over €10
     .container          
     .row
      .column
        img.hover-shadow.cursor(src='../succ1.jpg', style='width:100%', onclick='openModal();currentSlide(1)')
      .column
        img.hover-shadow.cursor(src='../succullogo.jpg', style='width:100%', onclick='openModal();currentSlide(2)')
      .column
        img.hover-shadow.cursor(src='../succul4.jpg', style='width:100%', onclick='openModal();currentSlide(3)')
      .column
        img.hover-shadow.cursor(src='../succul2.jpg', style='width:100%', onclick='openModal();currentSlide(4)')
      
      .column
        img.hover-shadow.cursor(src='../calicokitten.jpg', style='width:100%', onclick='openModal();currentSlide(5)')
      .column
        img.hover-shadow.cursor(src='../Crassula_Kebab_Bush.jpg', style='width:100%', onclick='openModal();currentSlide(6)')
      .column
        img.hover-shadow.cursor(src='../kiwi_aeonium.jpg', style='width:100%', onclick='openModal();currentSlide(7)')
      .column
        img.hover-shadow.cursor(src='../HairyStonecrop.jpg', style='width:100%', onclick='openModal();currentSlide(8)')
       .column
        img.hover-shadow.cursor(src='../gift.jpg', style='width:100%', onclick='openModal();currentSlide(9)')
    #myModal.modal
      span.close.cursor(onclick='closeModal()') ×
      .modal-content
         a.prev(onclick='plusSlides(-1)') ❮
         a.next(onclick='plusSlides(1)') ❯
        .mySlides
          .numbertext 1 / 9
          img(src='../succ1.jpg', style='width:100%')
        .mySlides
          .numbertext 2 / 9
          img(src='../succullogo.jpg', style='width:100%')
        .mySlides
          .numbertext 3 / 9
          img(src='../succul4.jpg', style='width:100%')
        .mySlides
          .numbertext 4 / 9
          img(src='../succul2.jpg', style='width:100%')
        .mySlides
         .numbertext 5 / 9
          img(src='../calicokitten.jpg', style='width:100%')
        .mySlides
          .numbertext 6 / 9
          img(src='../Crassula_Kebab_Bush.jpg', style='width:100%')
        .mySlides
          .numbertext 7 / 9
          img(src='../kiwi_aeonium.jpg', style='width:100%')
        .mySlides
          .numbertext 8 / 9
          img(src='../HairyStonecrop.jpg', style='width:100%')
         .mySlides
          .numbertext 9 / 9
          img(src='../gift.jpg', style='width:100%')
        
       .caption-container
         
         p#caption
         
         .column
          img.demo.cursor(src='../succ1.jpg', style='width:100%', onclick='currentSlide(1)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='../succullogo.jpg', style='width:100%', onclick='currentSlide(2)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='../succul4.jpg', style='width:100%', onclick='currentSlide(3)', alt='Lots of Succlents!s')
        .column
          img.demo.cursor(src='../succul2.jpg', style='height:60%, width:60%', onclick='currentSlide(4)', alt='Lots of Succlents!')
         .column
          img.demo.cursor(src='../calicokitten.jpg', style='width:100%', onclick='currentSlide(5)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='../Crassula_Kebab_Bush.jpg', style='width:100%', onclick='currentSlide(6)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='../kiwi_aeonium.jpg', style='width:100%', onclick='currentSlide(7)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='../HairyStonecrop.jpgg', style='height:60%, width:60%', onclick='currentSlide(8)', alt='Lots of Succlents!')
         .column
          img.demo.cursor(src='../gift.jpg', style='width:60%, height:60%;', onclick='currentSlide(7)', alt='Lots of Succlents!')
         
         
         
    script.
      function openModal() {
      document.getElementById('myModal').style.display = "block";
      }
      function closeModal() {
      document.getElementById('myModal').style.display = "none";
      }
      var slideIndex = 1;
      showSlides(slideIndex);
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
      function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
      }