

head
title Succulent Shack
link(rel='stylesheet', href='../app.css', type='text/css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

// Bootstrap CSS
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
// Add icon library
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='./css/font-awesome.min.css')
// This is the link to the style sheet to use font-awesome
// Custom styles for this template
link(rel='stylesheet', href='../layout.css')

.body
  .header.container 
    .nav.site-header.py-1(style=" border-width:5px; border-top-style:solid; border-bottom-style:solid;")
      .container.d-flex.flex-column.flex-md-row.justify-content-between
       .row
        h2   Succulent Shack &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|   
        a.py-2.text-muted.d-none.d-md-inline-block(href='/') Home
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/products') Products
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/create') New Product
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/reviews') See Reviews
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/add') Leave a Review
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/register') Register
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/login') Log-In
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/logout') Log-Out

.container
  .row
    .col-8
      img(src='../aloebg.png')
    block content
       

  .footer.container(style=' border-width:5px; border-bottom-style:solid;')

  .social(style='float:right;')
       a.fa.fa-facebook.text-muted(href='#' style='margin-left: 15px, margin-right: 15px;')
       |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       a.fa.fa-twitter.text-muted(href='#' style='margin-left: 15px, margin-right: 15px;')
       |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       a.fa.fa-pinterest.text-muted(href='#' style='margin-left: 15px, margin-right: 15px;')
       |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       a.fa.fa-instagram.text-muted(href='#' style='margin-left: 15px, margin-right: 15px;')
       |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       a.py-2.d-none.d-md-inline-block(href='#' style='margin-left: 15px, margin-right: 15px;')
    
  .col-8   
    .form(method="post" action="search", style='float:left;')
       label(for="search") 
       input(name="search", type="text", Placeholder="Search for plants...")
       button.button(type="submit") Search