extends layout
block content

   body
    h2(style='text-align:center') Lightbox
     .row
      .column
        img.hover-shadow.cursor(src='../succ1.jpg', style='width:100%', onclick='openModal();currentSlide(1)')
      .column
        img.hover-shadow.cursor(src='../succ2.jpg', style='width:100%', onclick='openModal();currentSlide(2)')
      .column
        img.hover-shadow.cursor(src='../succ3.jpg', style='width:100%', onclick='openModal();currentSlide(3)')
      //.column
        img.hover-shadow.cursor(src='img_lights.jpg', style='width:100%', onclick='openModal();currentSlide(4)')
    #myModal.modal
      span.close.cursor(onclick='closeModal()') ×
      .modal-content
        .mySlides
          .numbertext 1 / 4
          img(src='../succ1.jpg', style='width:100%')
        .mySlides
          .numbertext 2 / 4
          img(src='../succ2.jpg', style='width:100%')
        .mySlides
          .numbertext 3 / 4
          img(src='../succ3.jpg', style='width:100%')
      .mySlides
        //  .numbertext 4 / 4
         // img(src='img_lights_wide.jpg', style='width:100%')
        a.prev(onclick='plusSlides(-1)') ❮
        a.next(onclick='plusSlides(1)') ❯
        .caption-container
          p#caption
        .column
          img.demo.cursor(src='succ1.jpg', style='width:100%', onclick='currentSlide(1)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='succ2.jpg', style='width:100%', onclick='currentSlide(2)', alt='Lots of Succlents!')
        .column
          img.demo.cursor(src='succ3.jpg', style='width:100%', onclick='currentSlide(3)', alt='Lots of Succlents!s')
        //.column
          img.demo.cursor(src='img_lights_wide.jpg', style='width:100%', onclick='currentSlide(4)', alt='Northern Lights')
    script.
      function openModal() {
      document.getElementById('myModal').style.display = "block";
      }
      function closeModal() {
      document.getElementById('myModal').style.display = "none";
      }
      var slideIndex = 1;
      showSlides(slideIndex);
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
      function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
      }
